@font-face {
    font-family: 'Cascadia Code';
    src: url('../assets/Fonts/CascadiaCodePL-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.layout {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/background.gif"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  .content {
    background-color: #000000; 
    color: #00ff00; 
    border: 2px solid #00ff00; 
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 80%; 
    box-shadow: 0 0 15px #00ff00;
    text-align: center;
    z-index: 2; 
    font-family: 'Cascadia Code', monospace;
    line-height: 1.8; 
    margin: 20px auto; 
  }