@font-face { 
  font-family: 'Cascadia Code';
  src: url('../assets/Fonts/CascadiaCodePL-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Cascadia Code', monospace;
  background-color: #000;
  color: #00ff00;
}

a {
  text-decoration: none;
  color: #00ff00;
}

a:hover {
  text-decoration: underline;
}
